<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover {
            background-color: #111;
        }
        
        .btn-block {
            margin-top: 10px;
            text-align: center;
            max-width: 10%;
        }
        
        button {
            width: 100%;
            padding: 10px 0;
            margin: 10px auto;
            border-radius: 5px;
            border: none;
            background: #74c58f;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
        }

        .bloque {
            margin-left: 30px;
            color:#74c58f;
        }

        .columnas {
            display: inline-block;
            margin: 0 10px;
            margin-left: 30px;
            color:#74c58f;
        }
    </style>
</head>

<body>
    <ul>
        <li>
            <a class="active">
                <%= email %>
            </a>
        </li>
        <li ><a href="/user/logout">Logout</a></li>
    </ul>
    <div class="btn-block columnas">
        <% var lista = [] %>
        <% for (var i = 0; i < groups.length ; i++) { %>
            <% if (!lista.includes(groups[i])) {%>
                <% lista.push(groups[i]) %>
            <% } %>
        <% } %>
        <% for (var i = 0; i < lista.length ; i++) { %>
            <button><%= lista[i] %></button>  
        <% } %>
    </div>
    <div class="bloque">
        <form method="post" action="dashboard/group">
            <h3>Elija un grupo al cual acceder:</h3>
            <input type="text" style="padding: 10px; text-transform: uppercase;" name="group_name" placeholder="Nombre del grupo"/>
            <div class="btn-block" style = "max-width: 12%;">
                <button type="submit" href="/group">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>