<!DOCTYPE html>
<html>
  <head>
    <title>Group</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= groupName %> PAGE !</h1>
    <p>Funciona!</p>
  </body>
</html>
