<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./sass/main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <title>User Registration</title>
</head>
<body>

  <p>
    <%=(typeof alertMsg!='undefined' )? alertMsg:''%>
  </p>
  <div class="main-block">
    <h1>Registration</h1>
    <form method="post" action="register">
      <hr>

      <label id="icon" for="first_name"><i class="fas fa-user"></i></label>
      <input type="text" name="first_name" id="first_name" placeholder="First Name" required/>

      <label id="icon" for="last_name"><i class="fas fa-user"></i></label>
      <input type="text" name="last_name" id="last_name" placeholder="Last Name" required/>

      <label id="icon" for="email_address"><i class="fas fa-envelope"></i></label>
      <input type="text" name="email_address" id="email_address" placeholder="Email" required/>

      <label id="icon" for="password"><i class="fas fa-unlock-alt"></i></label>
      <input type="password" name="password" id="password" placeholder="Password" required/>

      <label id="icon" for="confirm_password"><i class="fas fa-unlock-alt"></i></label>
      <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" required/>

      <p><small>At least 8 characters password</small></p>

      <div class="gender">
        <input type="radio" value="none" id="male" name="gender" checked/>
        <label for="male" class="radio">Male</label>

        <input type="radio" value="none" id="female" name="gender" />
        <label for="female" class="radio">Female</label>
      </div>
      <hr>
      <div class="btn-block">
        <button type="submit" href="/">Submit</button>
        <a href="/login">Login</a>
      </div>

</body>
</html>
